<h2 mat-dialog-title>Shit gonna be here!</h2>

<mat-dialog-content>
  <mat-list role="list">
    <mat-list-item role="listitem">Item 1</mat-list-item>
    <mat-list-item role="listitem">Item 2</mat-list-item>
    <mat-list-item role="listitem">Item 3</mat-list-item>
    <mat-list-item role="listitem">Item 4</mat-list-item>
    <mat-list-item role="listitem">Item 5</mat-list-item>
    <mat-list-item role="listitem">Item 6</mat-list-item>
    <mat-list-item role="listitem">Item 7</mat-list-item>
    <mat-list-item role="listitem">Item 8</mat-list-item>
    <mat-list-item role="listitem">Item 9</mat-list-item>
    <mat-list-item role="listitem">Item 10</mat-list-item>
  </mat-list>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Close</button>
</mat-dialog-actions>